<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uscityimageviewer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Major US Cities Image Gallery"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.uscityimageviewer.MainActivity"
            android:label="Major US Cities Image Gallery" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.example.uscityimageviewer.ImgFragmentActivity"
            android:label="@string/title_activity_img_fragment" >
        </activity>
        <activity
            android:name="com.example.uscityimageviewer.ViewerActivityActivity"
            android:label="@string/title_activity_viewer_activity" >
        </activity>
        <activity
            android:name="com.example.uscityimageviewer.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name="com.example.uscityimageviewer.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.example.uscityimageviewer.CustomWindow"
            android:label="@string/title_activity_custom_window" >
        </activity>
    </application>

    <instrumentation
        android:name="tests.MyInstrumentationTestRunner"
        android:label="All Tests"
        android:targetPackage="com.example.uscityimageviewer" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>